* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*:focus {
	outline: 0;
}
a {
	text-decoration: none;
}
h2 {
	margin-bottom: 1rem;
}
.pbt-1 {
	padding: 1rem 0;
}
.pbt-2 {
	padding: 2rem 0;
}
.pbt-3 {
	padding: 3rem 0;
}
body, input, button, select, option {
	font-family: Oxygen, Arial;
}
header, main, footer {
	text-align: center;
	width: 1100px;
	display: block;
	margin: 0 auto;
}
input[type=search] {
	padding: .3rem 1rem;
	border-radius: .3rem;
	border: 2px solid #ccc;
	background: #ddd;
	font-size: 1rem;
}
#display {
	display: flex;
	justify-content: space-evenly;
}
select#sort {
    padding: .3rem 1rem .4rem;
    border: 2px solid #ccc;
    border-radius: .3rem;
	font-weight: 700;
}
option {
	background: #ccc;
	color: #222;
}
#todo {
	display: flex;
	justify-content: space-around;
}
#insert {
	width: 50%;
}
.innerInsert {
	position: sticky;
	top: 1%;
}
#list {
	border-left: 2px solid #ccc;
	width: 50%;
}
input[type=text] {
	padding: .3rem .7rem .4rem;
	width: 90%;
	margin: 0 auto 1rem;
	display: block;
	border: 2px solid #ccc;
	border-radius: .3rem;
}
button.add {
	background: #20a026;
    color: white;
    padding: .4rem 1rem .6rem;
    border: unset;
    border-radius: .3rem;
    cursor: pointer;
}